<section>
    <h1>Inicio de sesion</h1>
    <div class="box">
        <form action="/api/productos/login" method="post">
            <label for="nombreUsuario"> Nombre </label>
            <input type="text" name="nombreUsuario" placeholder="Ingrese nombre" id="nombreUsuario">
            <input type="submit" value="Iniciar">
        </form>
    </div>
</section>